@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #e2e8f0;
  --color-accent: #22d3ee;
  --color-danger: #ef4444;
  --color-background: #020617;
  --color-surface: #0f172a;

  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-background text-secondary antialiased;
}

/* Custom Animation for Scanner overlay */
@keyframes scan-line {
  0% {
    top: 0;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.scan-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #10b981;
  box-shadow: 0 0 4px #10b981;
  animation: scan-line 2s infinite linear;
}